<h1>Add an album</h1>
<form>
<form action="/albums" method="post">
  <label for="album_name">New album:</label>
    <input id="album_name" name="album_name" type="text">

    <button type="submit">Add Album</button>
</form>
