<h1>ARTISTS.ERB</h1>
<h2>Click on an artist to see all albums by that artist</h2>

<ul>
  <% @artists.each() do |artist| %>
    <li><a href="/artist/<%= artist.id() %>"><%= artist.artist_name() %></a></li>
  <% end %>
</ul>
<a href="/artists/new">Add a new artist</a>
<a href="/">Return to Main Page</a>
