<h1>Add artists</h1>

<p>Add an artist here:</p>

<form action="/artists" method="post">
  <label for="artist_name">artist's name:</label>
  <input id="artist_name" name="artist_name" type="text">
  <button type="submit">Add Artist</button>
</form>
